h1{
    font-size: 30px;
    padding-left: 25px;
    color: #616E8A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #1F2335;
}
body{
    background-color: #24283B;
}
img{
    width: 150px;
    height: 150px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #616E8A;
    font-size: 30px;
}
table {
    width: 100%;
    border: 1px solid;
    color: #616E8A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
tr:hover{
    color:black;
    background-color:white;
}
a:link, a:visited {
  background-color: cyan;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
